body {
	font-family: 'VT323', arial, serif;
	border:1px solid #14080a;
	-webkit-border-radius: 4px;
	overflow:hidden;
  min-width:480px;
	margin:0;
	padding:0;
}


div.bs-right label,
div.bs-left label{
   width: 92%;
  display: block;
  text-align: left;
  margin: 2px auto -4px;
  padding: 5px 0 5px 4px;
  height: 22px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9C9586), to(#8C8372));
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border: 1px solid #8C8372;
  color: white;
  font-weight: 700;
}

label{
  width: 95%;
  display: block;
  text-align: left;
  margin: 2px auto -4px;
  padding: 5px 0 5px 4px;
  height: 22px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9C9586), to(#8C8372));
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border: 1px solid #8C8372;
  color: white;
  font-weight: 700;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
}

div#bs-floatOver{
	width:235px;
	height:103px;
	position:absolute;
	z-index:3;
}

label span.bs-button{
  width:20px;
  height:20px;
  top:5px;
  z-index:5;
  float:right;
  position:relative;
  display:block;
  -webkit-border-top-left-radius:4px;
  -webkit-border-top-right-radius:4px;
  background-color:#fff;
}

label span.bs-button:hover{
  height:22px;
  top:3px;
}

label span.bs-clip,
label span.bs-maximize{
  display:block;
  width:16px;
  height:16px;
  position:relative;
  margin: 2px auto;
  cursor:pointer;
  background:transparent url(../img/MinMax.gif) no-repeat scroll 0 0;
}

label span.bs-maximize.bs-min{
  background-position: -16px 0;
}

label span.bs-clip{
  background:transparent url(../img/clip.gif) no-repeat scroll 0 0;
}

textarea {
-webkit-border-top-left-radius: 4px;
-webkit-border-bottom-right-radius: 4px;
font-family: sans-serif;
font-size: 10px;
width: 96.25%;
position: relative;
display: block;
margin: 0 auto;
resize: none;
opacity: .75;
overflow: hidden;
text-overflow: ellipsis;
border: 1px solid #8C8372;
border-top-left-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
}

div.bs-right textarea,
div.bs-left textarea{
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  font-family: sans-serif;
  font-size: 10px;
  width: 94.5%;
  position: relative;
  display: block;
  margin: 0 auto;
  resize: none;
  opacity: .75;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #8C8372;
}

textarea:focus{
  opacity:.9;
  outline:none;
  overflow:auto;
}

div.bs-left{
	width:240px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	position:relative;
	float:left;
	height:450px;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.06, rgb(218,74,2)),color-stop(0.69, rgb(246,182,32)),color-stop(0.96, rgb(254,248,228)));
}

div.bs-catsFooter{
	display:block;
	clear:both;
	background:transparent url(../img/cats.png) no-repeat scroll bottom left;
	min-width:240px;
	height:120px;
}

div.bs-right{
	width:240px;
	border-top-right-radius: 4px;
	position:relative;
	float:right;
	height:450px;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.06, rgb(218,74,2)),color-stop(0.69, rgb(246,182,32)),color-stop(0.96, rgb(254,248,228)));
}

div.bs-bottomPad{
  min-height:600:px;
  padding-bottom:5px;
}

div.bs-imageBox{
	display:none;
}

img.bs-imageOutput{
	display:block;
	position:relative;
	margin:10px auto;
  max-width:450px;
}

ul.bs-tabs{
  list-style-type:none;
  display:block;
  width:auto;
  height:30px;
  border:1px solid #655E4E;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9c9586), to(#8c8372));
  padding:0 5px;
  margin:10px 10px 2px;
  -webkit-border-radius: 4px;
}

ul.bs-tabs li{
display: inline-block;
height: 27px;
padding: 0 10px;
margin: 2px 4px 0 0;
border-top: 1px solid #D19405;
border-left: 1px solid #D19405;
border-right: 1px solid #D19405;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fedc6b), to(#fed448));
font-size: 22px;
color: #4c3000;
cursor: pointer;
-webkit-border-top-left-radius: 4px;
-webkit-border-top-right-radius: 4px;
}

ul.bs-tabs li:hover{
  border-top: 1px solid #a45b13;
  border-left: 1px solid #a45b13;
  border-right: 1px solid #a45b13;
  background-color:#ffdd57;
  margin: 1px 4px 0 0;
}

ul.bs-tabs li.selected{
height: 28px;
border-top: 1px solid #655E4E;
border-left: 1px solid #655E4E;
border-right: 1px solid #655E4E;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fef8e4));
text-shadow: -1px -1px #4c3000, 1px 1px #f6b520;
color: #d75e2e;
}

ul.bs-tabs li.bs-imgTab{
  display:none;
}

.bs-tabBody{
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.06, rgb(218,74,2)),color-stop(0.69, rgb(246,182,32)),color-stop(0.96, rgb(254,248,228)));
}
div#bs-hashTab,
div#bs-imgTab{
  display:none;
}
